/* Styles used throughout site */

/* Stylized sketch-looking background */
.drawn_look_bg{
    background-image: url("../static/Artwork/background_image.svg");
    background-size: contain;
}


/* Navbar related styling */

.navbar_bg {
    background-color: #494DA1;
}
.navbar_quokka_brand {
    color: #ffffff;
}

/* NOT WORKING */
.navbar_text {
    color: #ffffff;
    font-family: "Helvetica Neue", sans-serif;
}

/* Text related styling */

.quokka_text {
    font-family: "Helvetica Neue", sans-serif;
}
