.subtitles {
    color: #FFFFFF;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    font-variant: normal;
    text-align: center;
    letter-spacing: 1.4px;
}