<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../static/base_styles.css?q=1280549780">
    <link rel="stylesheet" href="../static/login_page.css?q=12340920202">
    <title>Quokka Notes</title>
</head>
<body class="bg">
     <nav class="navbar navbar-toggleable-md navbar-default navbar_styling">
         <a class="navbar-brand navbar_quokka_brand" href="#">Quokka</a>
     </nav>
    {% block content %} {% endblock %}
</body>
</html>