{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
        <form method="POST">
            <div class="offset-4 col-4" style="margin-top: 10%">
                <div class="form-group">
                    <input class='input-group form-control' type="text" placeholder="First Name" id="first_name"/>
                </div>
                <div class="form-group">
                    <input class="input-group form-control" type="text" placeholder="Last Name" id="last_name"/>
                </div>
                <div class="form-group">
                    <input class='input-group form-control' type="text" placeholder="Email" id="email"/>
                </div>
                    <button class='input-group btn btn-block' type="submit" name="submit_button"> Sign Up! </button>
            </div>
        </form>
</div>
{% endblock %}

